@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #0D3B66;
}

:root {
    --font-display: 'Poppins', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #0D3B66;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #fcfcfc;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.dark .input-box {
    @apply text-white border-[#2a2a2a];
    background-color: #0C0C0C;
}

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-primary/5 p-2.5 rounded-md my-1 hover:bg-primary/10 hover:text-primary transition-colors;
}

.card {
    @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-gray-200/50
}

.dark .card {
    @apply shadow-none border-[#2a2a2a] text-gray-100;
    background-color: #0C0C0C;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-gray-700 hover:text-primary bg-gray-50 hover:bg-primary/5 px-4 py-1.5 rounded-lg border border-gray-200/50 cursor-pointer
}

.dark .card-btn {
    @apply text-gray-300 hover:bg-primary/20 border-[#2a2a2a];
    background-color: #0C0C0C;
}

.add-btn {
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-primary whitespace-nowrap bg-primary/5 border border-primary/10 rounded-lg px-4 py-2 cursor-pointer
}

.dark .add-btn {
    @apply text-blue-400 bg-primary/20 border-primary/30
}

.add-btn-fill {
    @apply text-white bg-primary
}

.dark .add-btn-fill {
    @apply text-white bg-primary
}